@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans", sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url("./Images/Netflix.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1960px,100vw);
}

.main .box{
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.67;
    position: absolute;
    top: 0;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.navbar img{
    width: 150px;
    color: red;
    position: relative;
    z-index: 10;
}

.btns button{
    padding: 8px 13px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #5b5b5b;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.btn1{
    background-color:rgb(0 0 0 / 33%);
    color: #fff;
}

.btn2{
    color: #fff;
    background-color: orangered;
}

.content{
    font-family: "Martel Sans", sans-serif;
    color: white;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
}

.content> :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.content span{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.getStarted{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.getStarted input{
    width: 26%;
    padding: 13px;
    border-radius: 7px;
    border: 1px solid rgb(100, 97, 97);
    margin-right: 5px;
    font-size: 15px;
    color: #fff;
    background-color: rgb(23, 23, 23, 0.7);
}

.getStarted button{
    cursor: pointer;
    margin-left: 5px;
    font-size: 20px;
    padding: 13px 22px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid black;
    background-color: red;
    color: white;
}



.line{
    background-color: grey;
    height: 8px;
    opacity: 0.4;
}

.box{
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    color: #fff;
    margin: auto;
    padding: 30px 0px;
}


.text{
    display: flex;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
}

.box > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}

.box > div :nth-child(2){
    /* margin-top: 10px; */
    font-size: 24px;
}

.tvImg{
    position: relative;
}

.tvImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.tvImg video{
    position: absolute;
    top: 85px;
    right: 0;
    width: 490px;
}

.questions{
    color: #fff;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Martel Sans", sans-serif;
    
}

.tag{
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 50px;
}

.userInput{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: #333333ed;
    padding: 20px;
    margin: 4px;
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.userInput:hover{
    background-color: #4f4a4a;
}

.watch{
    margin-top: 40px;
    margin-bottom: 75px;
    color: #fff;
}

.watch p{
    text-align: center;
    font-size: 20px;
}

.mar-top{
    margin-top: 15px;
}

.footer{
    width: 70vw;
    color: #fff;
    margin: auto;
    padding: 60px 20px;
}

.footerItems{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
}

@media  screen and (max-width:775px){
    .footerItems{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footerItem{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footerItem a{
    color: #fff;
    font-size: 14px;
}

.footerQuestions{
    padding: 34px, 0px;
}

.footerbtn{
    background-color:rgb(0 0 0 / 33%);
    color: #fff;
    padding: 8px 15px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #5b5b5b;
    cursor: pointer;
}



@media  screen and (max-width:580px){
    .getStarted{
        align-items: center;
        flex-direction: column;
    }

    .getStarted input{
        width: 60%;
        margin-bottom: 5px;
    }

        
    .getStarted button{
        width: 125px;
        margin-top: 5px;
        font-size: 15px;
        padding: 8px 10px;
    }

    .tvImg img{
        width: 250px;
    }
    
    .tvImg video{
        top: 37px;
        width: 210px;
    }

}

@media  screen and (max-width:360px){
    .navbar{
        margin: 0px 10px;
        flex-direction: column;
    }
}

@media  screen and (max-width:980px){

    .content> :first-child{
        font-size: 30px;
    }

    .box{
        flex-wrap: wrap;
    }

    .box > div :nth-child(1){
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
    }
    
    .box > div :nth-child(2){
        text-align: center;
        font-size: 20px;
    }

    #mar-20{
        font-size: 25px;
    }
    
}
